---
---

@import "{{ site.theme }}";

.inner {
  width: 100%;
  max-width: 100%;
}
section {
  width: 100%;
  max-width: 100%;
}

#header nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    background: blue;
    margin: 6px auto;
}
